Options -Indexes

<IfModule mod_authz_core.c>
    <FilesMatch "\.(?:env|ini|json|sql|log)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(?:includes|data)/ - [F,L,NC]
</IfModule>
